.main {
    background-color: #0690CF;
    color: white;
    width: 350;
    height: 200;
    padding: 20 0;

    border: 3px solid  #1782B9;
}

.padding {
    padding-left: 20;
	
    margin-bottom: 20;
}

.registration {
    font-size: 120%;
    border-bottom: 2px solid white;
	padding-bottom:10;
    
}

.button {
    background-color: #FFDF7F;
    color: black;
}

#right {
    float: right;
    width:160;
}

#left{
    float:left;
    width:140;
}

.inputPass {
	width:150;
}

.inputMail {
	width: 320;
}


