<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>  
      <clear/>  
      <add name="Northwind Connection"   
       providerName="System.Data.SqlClient"   
       connectionString="Data Source=(local);Initial Catalog=Northwind;Integrated Security=true"/>  
    </connectionStrings> 
  <system.data>
   <DbProviderFactories>  
    <add name="Northwind Connection"  
     invariant="System.Data.SqlClient"   
     description=".Net Framework Data Provider for SqlServer"   
     type="System.Data.SqlClient.SqlClientFactory, System.Data,   
     Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"  
    />  
  </DbProviderFactories>

  </system.data>
</configuration>